html, body {
  background-color: $white;
  color: $black;
  letter-spacing: 0;
  margin: 0;
  transition: all 1s ease;
  &.is-light {
    background-color: $white;
    color: $black;
  }
}

// ORDER
@include touch() {
  .columns.flex {
    display: flex;
    flex-wrap: wrap;
    .column {
      flex: 1 0 100%;
    }
  }
  .is-order-1-touch {
    order: 1;
  }
  .is-order-2-touch {
    order: 2;
  }
}

// FLEX
.flex-center-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-center-h {
  &-mobile {
    @include touch() {
      display: flex!important;
      justify-content: center;
      align-items: center;
    }
  }
}