.hero-ui-Dark {
  .navbar #navMenu .navbar-item {
    color: black
  }
  .processLogo g.logoFill {
    fill: black!important
  }
  .navbar .navbar-brand .nav-burg span {
    &:before, &:after {
      background: black;
    }
  }
}
.hero-ui-Light {
  .navbar #navMenu .navbar-item {
    color: white
  }
  .navbar .navbar-brand .nav-burg span {
    &:before, &:after {
      background: white;
    }
  }
}