
// Typography //
h3.list-headline {
  margin-bottom: 2rem;
}

// Opening Helpers //
.opening.section {
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.opening-statement {
  margin-bottom: 4rem;
}
.column-list {
  margin-bottom: 4rem;
  white-space: pre-wrap;
  column-count: 2;
}

// Contrast values //
.page-contrast-Dark {
  .opening-headline > * {
    color: $black;
  }
  .rich-text a:not(.button, .arrow) {
    color: $black;
    &:before {
      background: $black;
    }
    &:after {
      background: $black;
    }
    &:hover {
      color: $white;
    }
  }
  .arrow {
    color: $black;
  }
}
